.ChatGptInput {
  padding: 10px;
  border-radius : 0 0 5px 5px;
  overflow: hidden;
  height: 100%;

  border: 1px solid #dee2e6;
  border-top: none;
  padding: 10px;
  background-color: #f6f7f8;
  
}