.chat-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  background-color: #fff;

  .chat-item__more {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .request {
    margin-top: 10px;
    display: flex;
    .request-user {
      display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
      align-items: flex-start;
    
    }
    .request-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f1f1f1;
      padding: 5px;
    }
  }
  .response {
    margin-top: 10px;
    display: flex;
    .response-user {
      display: flex;
      height: 50px;
      width: 50px;
      justify-content: center;
      align-items: flex-start;
    }
    .response-content {
      width: 100%;
      background-color: #f1f1f1;
      padding: 5px;
    }
    // background-color: #f1f1f1;
  }
}
