html, body, #root, .App {
  height: 100%;
}
.App {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  .nav-link.active {
    color: #495057;
    background-color: #f6f7f8 !important;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: bold;
  }
  .rl-container {
    height: calc(100% - 100px);
  }
  p {
    margin: 0;
  }
}
