.ChatResult {
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;

  max-height: calc(100vh - 150px);
  overflow: auto;

  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  margin-top: 41px;
  background-color: #f6f7f8;

  .loading {
    border: 1px solid #cecece;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
  }
}
